table{
    width: 100%;
    padding: 20px;
    text-align: center;

}

.linha{
    height: 40px;
    background-color: var(--dark-color);
    padding: 20px;
}


td, th{
    padding: 20px;
}

tr{
    background-color: var(--main-color);

}

.botao-secundario{

    background-color: transparent;
    color: white;
    text-decoration: none;
    border: 2px solid var(--contrast-color);
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    display: block;
    text-align: center;

}

.terceiro-botao{
    background-color: transparent;
    text-decoration: none;
    color: #a35959;
    font-weight: bold;
    font-size: 18px;
    border: 5px solid var(#69D2CD);
    
    padding: 10px;
    background-color: var(--contraste-color);
    text-align: center;
    border-radius: 15px;
    border: none;
    
}

.quarto-botao {
    background-color: transparent;
    color: rgb(212, 27, 27);
    text-decoration: none;
    border: 2px solid var(--contrast-color);
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    display: block;
    text-align: center;

}