SECRET_KEY=d542a7274a3fca65bb5878136e659cf7358427dc953e07ecf73f8121320a05
DEBUG=True

# Database variables
DB_NAME=schedule
DB_HOST=db_schedule_dev
DB_USER=postgres
DB_PASSWD=postgres
DB_PORT=5432
DATABASE_URL=postgres://postgres:postgres@db_schedule_dev:5432/schedule

# Django Env
DJANGO_SETTINGS_MODULE=core.settings.homolog
#DJANGO_SETTINGS_MODULE=core.settings.homolog-tenants
# DJANGO_SETTINGS_MODULE=core.settings.local
# DJANGO_SETTINGS_MODULE=core.settings.local-tenants

ALLOWED_HOSTS=localhost,127.0.0.1
