{% load static %} 
<style>
    .edit-icon {
      display: none;
      font-size: var(--bs-body-font-size);
      margin-bottom: 0.3em;
    }

    .display-field {
      display: none;
    }

    .display-info {
      display: inline-block;
      height: 1.5em;
    }

    .display-info:hover {
      cursor: pointer;
      margin-right: 0;
    }

    .display-info:hover .editable {
      cursor: pointer;
      color: #696cff;
      border-bottom: #696cff 1px solid;
    }

    .editable:hover, .edit-icon:hover {
      cursor: pointer;
      color: #696cff;
    }

    .display-info:hover .edit-icon {
      display: inline-block;
      color: #696cff;
    }
  </style>
<div
    class="offcanvas offcanvas-end"
    tabindex="-1"
    id="offcanvasBackdrop"
    aria-labelledby="offcanvasBackdropLabel"
>
    <div class="offcanvas-header border-bottom">
    <h5 id="offcanvasBackdropLabel" class="offcanvas-title">Agendamento</h5>
    <input type="hidden" id="appointment_detail_id" />
    <button
        type="button"
        class="btn-close text-reset"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
    ></button>
    </div>
    <div class="offcanvas-body mx-0 flex-grow-0">
        <div id="appointment_detail" class="show">
            <div class="d-flex">
                <div class="flex-shrink-0 mt-n2 mx-sm-0 mx-auto">
                    <img class="img-fluid rounded my-3" src="{% static 'img/avatars/foto.jpeg' %}" height="110" width="110" alt="User avatar" id="client_img">
                </div>
                <div class="d-flex align-items-center mx-3">
                    <div class="customer-info flex-grow-1 align-items-center">
                        <h4 class="mb-1" id="client_name"></h4>
                        <div class="d-flex">
                            <span class="fw-medium me-2">Email:</span>
                            <span id="client_email" class="text-muted text-nowrap">email@emai.com</span>
                        </div>
                        <div class="d-flex">
                            <span class="fw-medium me-2">Contact:</span>
                            <span id="client_phone" class="text-muted text-nowrap">+55 (11) 9 9999-9999</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="info-container border-bottom pb-4">
                <small class="d-block pt-4 border-top fw-normal text-uppercase text-muted mb-3">DETALHES DO ATENDIMENTO</small>
                <ul class="list-unstyled bg-lighter rounded p-3">
                    <li class="mb-3 d-flex display-info">
                        <span class="fw-medium me-2">Serviço:</span>
                        <div class="editable" id="info-service">
                            <span class="show" id="appointment_service">Massagem Pubiana</span>
                            <i class="bx bx-pencil edit-icon" id="edit_appointment_service"></i>
                        </div>
                        <div class="display-field" id="edit-service">
                            <select id="select_speciality" class="form-select form-select-sm">
                                <option>Selecione</option>
                                {% for speciality in specialities  %}
                                <option value="{{ speciality.id }}">{{ speciality.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </li>
                    <li class="mb-3 d-flex">
                        <div class="display-info d-flex" style="width: 10em;">
                            <span class="fw-medium me-2">Data:</span>
                            <div class="editable" id="info-date">
                                <span class="show" id="appointment_date">14/11/2023</span>
                                <i class="bx bx-pencil edit-icon" id="edit_appointment_date"></i>
                            </div>
                            <div class="display-field" id="edit-date">
                                <input type="text" class="form-control form-control-sm flatpickr-input" value="14/11/2023" id="flatpickr-date" />
                            </div>
                        </div>
                        <div class="display-info d-flex">
                            <span class="fw-medium me-2">Horário:</span>
                            <div class="editable" id="info-room">
                                <span class="show" id="appointment_time_slot">09:00 - 10:30</span>
                                <i class="bx bx-pencil edit-icon" id="edit_appointment_time"></i>
                            </div>
                            <div class="display-field" id="edit-time">
                                <select id="select_time_slot" class="form-select form-select-sm">
                                    <option>Selecione</option>
                                    {% for time_slot in time_slots  %}
                                    <option value="{{ time_slot.id }}">{{ time_slot.start_time|time:"H:i" }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </li>
                    <li class="mb-3 d-flex display-info">
                        <span class="fw-medium me-2">Duração:</span>
                        <div class="editable" id="info-room">
                            <span class="show" id="appointment_time_duration">00:30</span>
                            <i class="bx bx-pencil edit-icon" id="edit_appointment_duration"></i>
                        </div>
                        <div class="display-field" id="edit-time">
                            <select id="select_duration" class="form-select form-select-sm">
                                <option>Selecione</option>
                                <option value="30">00:30</option>
                                <option value="60">01:00</option>
                                <option value="90">01:30</option>
                            </select>
                        </div>
                    </li>
                    <li class="mb-3 d-flex display-info">
                        <span class="fw-medium me-2">Sala:</span>
                        <div class="editable" id="info-room">
                            <span class="show" id="appointment_room">Sala 04</span>
                            <i class="bx bx-pencil edit-icon" id="edit_appointment_room"></i>
                        </div>
                        <div class="display-field" id="edit-room">
                            <select id="select_room" class="form-select form-select-sm">
                                <option>Selecione</option>
                                {% for room in rooms  %}
                                <option value="{{ room.id }}">{{ room.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </li>
                    <li class="">
                        <span class="fw-medium me-2" id="appointment_status_badge">Status:</span>
                        <span class="badge bg-label-success editable" id="status">Active</span>
                        <!-- No edit icon for status in this example -->
                    </li>
                </ul>
                <small class="d-block pt-1 fw-normal text-uppercase text-muted my-3">TERAPEUTA</small>
                <div class="col-12 col-md-auto d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-start align-items-center customer-name">
                        <div class="avatar-wrapper">
                            <div class="avatar me-2">
                                <img src="{% static 'img/avatars/foto.jpeg' %}" alt="Avatar" class="rounded-circle" id="therapist_img">
                            </div>
                        </div>
                        <div class="d-flex flex-column">
                            <a href="#" id="therapist_url">
                                <span class="fw-medium" id="therapist_name"></span>
                            </a>
                            <small class="text-muted text-nowrap" id="therapist_phone"></small>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end align-items-center">
                        <span class="d-flex align-items-center btn btn-outline-primary borderless-button" style="cursor: pointer;">
                            <i class="bx bx-edit me-0 me-sm-1"></i>
                            <span>Trocar</span>
                        </span>
                    </div>
                </div>
            </div>
            <div id="notes_session">
                <small class="d-block fw-normal text-uppercase text-muted my-3">NOTAS</small>
                <div class="bg-lighter rounded p-3">
                    <p class="mb-2" id="appointment_notes"></p>
                </div>
            </div>
            <div class="mb-3 d-flex justify-content-sm-between justify-content-start my-4">
                <div class="d-flex">
                    <div class="me-sm-3 me-1" id="save_button">
                        <span class="align-items-center btn btn-outline-primary btn-update-event" style="cursor: pointer;">
                            <i class="bx bx-check me-0 me-sm-1"></i>
                            <span>Salvar</span>
                        </span>
                    </div>
                    <button type="reset" class="btn btn-outline-secondary me-sm-0 me-1" data-bs-dismiss="offcanvas">Voltar</button>
                </div>
                <div><a id="appointment_delete_link" href="#" class="btn btn-outline-danger">Remover</a></div>
            </div>
        </div>
        <div id="appointment_detail_error" class="d-none">
            <div class="mb-3 col-12 mb-0">
                <div class="alert alert-warning">
                  <h6 class="alert-heading fw-bold mb-1">Não foi possível carregar os detalhes do agendamento</h6>
                  <p class="mb-0">Tentar novamente?</p>
                  <div class="mb-3 d-flex justify-content-sm-between justify-content-start my-4">
                    <div>
                        <button type="submit" class="btn btn-primary me-sm-3 me-1 btn-update-event">Carregar</button>
                        <button type="reset" class="btn btn-outline-secondary me-sm-0 me-1" data-bs-dismiss="offcanvas">Cancelar</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div id="appointment_detail_loading" class="d-none d-flex my-auto">
            <div class="spinner-border spinner-border-lg text-primary align-self-center my-auto mx-auto" role="status">
                <span class="visually-hidden">Carregando...</span>
              </div>
        </div>
    </div>
</div>
{% comment %} TODO: Validação dos campos, pela disponibilidade {% endcomment %}