{% extends 'bases/index.html' %} 
{% load static %} 
{% block 'title'%}Agendamentos{% endblock%} 
{% block head %}
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}">
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}">
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}">
{% endblock %} 
{% block content %}

<div class="card">
  <div class="card-body">
    {% include "partials/appointment_table.html" %}
  </div>
</div>
<a href="{% url 'appointment-create' %}" class="btn btn-primary"
  >Criar Agendamento</a
>
{% endblock %}
{% block js %}
<script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js'%}"></script>
<script src="{% static 'js/tables-datatables-basic.js'%}"></script>
{% endblock %}
