{% extends 'bases/index.html' %}
{% load static %}
{% block 'head' %}

{% endblock %}

{% block content %}
    

<div class="card">
  <div class="card-body">
    <div class="table-responsive text-nowrap">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Especialidades</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          {% for therapist in therapists %}
          <tr class="table-default">
            <td>
              <a href="{% url 'therapist_detail' therapist.pk %}">
                <i class="fab fa-sketch fa-lg text-warning me-3"></i>
                <strong>{{ therapist.name }}</strong>
              </a>
            </td>
            <td>{{ therapist.email }}</td>
            <td>{{ therapist.phone_number }}</td>
            <td>
                {% for speciality in therapist.specialities.all %}
                    {{ speciality.name }}
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>
              <div class="dropdown">
                <button
                  type="button"
                  class="btn p-0 dropdown-toggle hide-arrow"
                  data-bs-toggle="dropdown"
                >
                  <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <div class="dropdown-menu">
                  <a
                    class="dropdown-item"
                    href="{% url 'therapist_update' therapist.pk %}"
                    ><i class="bx bx-edit-alt me-1"></i> Edit</a
                  >
                  {% if perms.accounts.can_remove_appointment %}
                  <a
                    class="dropdown-item"
                    {% comment %} data-bs-toggle="modal"
                    data-bs-target="#backDropModal" {% endcomment %}
                    href="{% url 'therapist_delete' therapist.pk %}"
                  >
                    <i class="bx bx-trash me-1"></i> Delete
                  </a>
                  {% endif %}
                </div>
              </div>
            </td>
          </tr>
          {% empty %}
          <tr class="table-default">
            <p>Não há Terapeutas cadastrados.</p>
          </tr>
          {% endfor %} 
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% comment %} <div class="col-lg-4 col-md-3">
    <small class="text-light fw-semibold">Backdrop</small>
    <div class="mt-3">
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#backDropModal"
      >
        Launch modal
      </button>

      <!-- Modal -->
      <div class="modal fade" id="backDropModal" data-bs-backdrop="static" tabindex="-1">
        <div class="modal-dialog">
          <form class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="backDropModalTitle">Remove Cliente</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col mb-3">
                    <p>Are you sure you want to delete {{ client.name }}?</p>
                </div>
              </div>
              <div class="row g-2">
                <div class="col mb-0">
                  <label for="emailBackdrop" class="form-label">Email</label>
                  <input
                    type="text"
                    id="emailBackdrop"
                    class="form-control"
                    placeholder="xxxx@xxx.xx"
                  />
                </div>
                <div class="col mb-0">
                  <label for="dobBackdrop" class="form-label">DOB</label>
                  <input
                    type="text"
                    id="dobBackdrop"
                    class="form-control"
                    placeholder="DD / MM / YY"
                  />
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                Close
              </button>
              <button type="button" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> {% endcomment %}

