{% extends 'bases/index.html' %}
{% load static %} 
{% block head %} {% endblock%} 
{% block 'title' %}Terapeuta - {{ therapist.name }}{% endblock %}
{% block content %}
  
  <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ therapist.name }}</h5>
            <h6 class="card-subtitle text-muted">
              {% for speciality in therapist.specialities.all %}
                {{ speciality.name }}{% if not forloop.last %}, {% endif %}
              {% endfor %}
            </h6>
          </div>
            <img class="img-fluid d-flex mx-auto" src="{{ therapist.photo.url }}" alt="Foto do Terapeuta">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <strong>Email:</strong> {{ therapist.email }}
              </li>
              <li class="list-group-item">
                <strong>Aniversario:</strong> {{ therapist.birthday }}
              </li>
              <li class="list-group-item">
                <strong>Numero de telefone:</strong> {{ therapist.phone_number }}
              </li>
              <li class="list-group-item">
                <strong>Gênero:</strong> {{ therapist.get_gender_display }}
              </li>
              <li class="list-group-item">
                <strong>CRM:</strong> {{ therapist.crm }}
              </li>
              <li class="list-group-item">
                <strong>Dias disponiveis:</strong>
                {% for day in therapist.availability_days.all %} 
                  {{ day.get_day_display }}
                  {% if not forloop.last %}, {% endif %} 
                {% endfor %}
              </li>
              <li class="list-group-item">
                <strong>Horas disponiveis:</strong>
                {% for hour in therapist.availability_hours.all %} 
                  {{ hour.start_time|time:"H:i" }} - {{ hour.end_time|time:"H:i" }}
                  {% if not forloop.last %}, {% endif %} 
                {% endfor %}
              </li>
              <li class="list-group-item">
                <strong>Valor:</strong> {{ therapist.rate }}
              </li>
              <li class="list-group-item">
                <strong>Taxa:</strong> {{ therapist.fee }}
              </li>
              <li class="list-group-item">
                <strong>Contrato Scaneado:</strong>
                {% if therapist.contract_scan %}
                <a href="{{ therapist.contract_scan.url }}" target="_blank">Ver Contrato</a>
                {% else %} N/A {% endif %}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-8 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Próximos Atendimentos</h5>
            <div class="table-responsive text-nowrap">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Atendimento</th>
                    <th>Cliente</th>
                    <th>Horário</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                  {% for appointment in appointments %}
                  <tr class="table-default">
                    <td>
                      <a href="{% url 'appointment-detail' appointment.pk %}"
                      >
                      <i class="fab fa-sketch fa-lg text-warning me-3"></i>
                      <strong>{{ appointment.service.name }}</strong>
                    </a>
                    </td>
                    <td>{{ appointment.client.name }}</td>
                    <td>
                      {{ appointment.appointment_date_start|date:"d/m/y H:i" }} - 
                      {{ appointment.appointment_date_end|date:"d/m/y H:i" }}
                    </td>
                    <td>
                      {% if appointment.status == "PENDING" %}
                      <span class="badge bg-label-warning me-1"
                        >{{ appointment.get_status_display }}</span
                      >
                      {% elif appointment.status == "CONFIRMED" %}
                      <span class="badge bg-label-success me-1"
                        >{{ appointment.get_status_display }}</span
                      >
                      {% elif appointment.status == "CANCELLED" %}
                      <span class="badge bg-label-secondary me-1"
                        >{{ appointment.get_status_display }}</span
                      >
                      {% elif appointment.status == "COMPLETED" %}
                      <span class="badge bg-label-primary me-1"
                        >{{ appointment.get_status_display }}</span
                      >
                      {% endif %}
                    </td>
                  </tr>
                  {% empty %}
                  <tr class="table-default"><p>Sem agendamento disponível.</p></tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      
  </div>


  <div class="my-3">
    <a href="{% url 'therapist_list' %}" class="btn btn-primary"
      >Voltar para Lista</a
    >
    <a
      href="{% url 'therapist_update' therapist.pk %}"
      class="btn btn-secondary"
      >Editar</a
    >
    <a href="{% url 'therapist_delete' therapist.pk %}" class="btn btn-danger"
      >Deletar</a
    >    
  </div>

{% endblock %}
