{% extends 'bases/index.html' %} 
{% load static %} 
{% block 'title'%}Dashboard{% endblock%} 
{% block head %} 
<link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.css' rel='stylesheet' />
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.js'></script>
<link rel="stylesheet" href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css" />
<script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.js"></script>
{% endblock %} 
{% block content %}

<div class="card">
  <div class="card-body">
    {% comment %} {% include "partials/appointment_table.html" %} {% endcomment %}
    <div id="calendar"></div>
    <div class="event-azul"></div>
    <div class="event-indigo"></div>
    <div class="event-roxo"></div>
    <div class="event-rosa"></div>
    <div class="event-vermelho"></div>
    <div class="event-laranja"></div>
    <div class="event-amarelo"></div>
    <div class="event-verde"></div>
    <div class="event-teal"></div>
    <div class="event-ciano"></div>
  </div>
</div>
<div class="bs-toast toast toast-placement-ex m-3 fade bg-danger top-0 end-0 hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
  <div class="toast-header">
    <i class="bx bx-bell me-2"></i>
    <div class="me-auto fw-semibold" id="toast_title">Bootstrap</div>
    <!-- <small class="hide">11 mins ago</small> -->
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body" id="toast_message">Fruitcake chocolate bar tootsie roll gummies gummies jelly beans cake.</div>
</div>
<a href="{% url 'appointment-create' %}" class="btn btn-primary"
  >Criar Agendamento</a
>
{% include "partials/appointment_detail_panel.html" %}
{% endblock %}
{% block jquery_script %}
    <script src='https://code.jquery.com/jquery-2.1.3.js'></script>
{% endblock %}
{% block js %}
<style>
  #calendar .fc-time-grid-container {
    height: auto !important; /* Override the height */
    overflow: visible !important; /* Override the overflow property */
  }
  .fc-time-grid .fc-slats td {
    height: 2.5em; /* Adjust the height as needed */
  }
</style>
<script src="{% static 'vendor/libs/popper/popper.js' %}"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.js'></script>
<script src="{% static 'js/calendar/pt-br.js' %}"></script>
<script src="{% static 'js/calendar/fullcalendar-columns.js' %}"></script>
<script src="{% static 'js/ui-toasts.js' %}"></script>
<script>

  var events_source = {
    id: 0,
    events: []
  };

	$(document).ready(function() {
		
		$('#calendar').fullCalendar({
      header: {
          left: 'prev,next today',
          center: 'title',
          right: ''
      },
      views: {
          multiColAgendaDay: {
              type: 'multiColAgenda',
              duration: { days: 1 },
              numColumns: {{rooms.count}},
              columnHeaders: [
              {% for room in rooms  %}
              '{{ room.name }}'
              {% if not forloop.last %}, {% endif %}
              {% endfor %}
              ],
              axisFormat: 'HH:mm',
              minTime: '08:00:00',
              maxTime: '19:00:00'
          }
      },
      locale: 'pt-br',
      allDaySlot: false,
      defaultView: 'multiColAgendaDay',
      defaultDate: moment(),
      editable: true,
      eventDurationEditable: false,
      events: [],
      viewRender: function( view, element ){
        var date = moment(view.start).format('YYYY-MM-DD');
        if (date != moment().format('YYYY-MM-DD')){
          $('#calendar').find('.now-indicator').remove();
        } else {
          updateNowIndicator();
        }
        get_calendar_data(date);
      },
      eventClick: function(calEvent, jsEvent, view) {

        load_appointment_detail(calEvent.id);
    
      },
      eventDrop: function(event, delta, revertFunc, jsEvent, ui, view) {

        if (moment(event.end).format('HH:mm:ss') > '19:00:00') {
          revertFunc();
          showToast('Não é possível marcar horário para após o fechamento.','Por favor, escolha outro horário.');
          return
        }

        var isOverlapping = false;
        var droppedEventStart = event.start;
        var droppedEventEnd = event.end;
    
        for (var i = 0; i < events_source.events.length; i++) {
            var sourceEvent = events_source.events[i];
    
            if (event.id !== sourceEvent.id) { 
              var sourceEventStart = moment(sourceEvent.start);
              var sourceEventEnd = moment(sourceEvent.end);

              if (
                  droppedEventStart.isBefore(sourceEventEnd) &&
                  droppedEventEnd.isAfter(sourceEventStart)    
                ) {
                    if (event.column == sourceEvent.column){
                      isOverlapping = true;
                      break;
                    }
                }  
            }
        }
        if (isOverlapping) {
            revertFunc();
            alert('O horário já está ocupado por outro agendamento.\nPor favor, escolha outro.');
        } else {
          var data = {
            id: event.id,
            start: event.start.format(), // Format the moment to a string
            end: event.end.format(),
            column: event.column // Assuming this is the room column
          };

          $.ajax({
            type: 'GET',
            url: 'appointments/update_appointment_data/',
            data: data,
            success: function(response) {

                if (response.appointment) {
                    for (var i = 0; i < events_source.events.length; i++) {
                        if (events_source.events[i].id === event.id) {
                            events_source.events[i].start = response.appointment.appointment_date + 'T' + response.appointment.time_start;
                            events_source.events[i].end = response.appointment.appointment_date + 'T' + response.appointment.time_end;
                            events_source.events[i].column = response.appointment.room - 1;
                            break;
                        }
                    }
                }
            },
            error: function(xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                revertFunc();
                console.log(err)
                console.log(error)
            }
          });
        }
      },
      eventRender: function (event, element) {
        //element.find('.fc-title').html("<h5>" + event.title + "</h5>");
        var customSelectors = {
          'data-bs-toggle': 'offcanvas',
          'data-bs-target': '#offcanvasBackdrop',
          'aria-controls': 'offcanvasBackdrop',
        };

        for (var selector in customSelectors) {
            element.addClass(selector);
            element.attr(selector, customSelectors[selector]);
        }
      }
  });

  function updateNowIndicator() {
      var now = moment();
      var calendar = $('#calendar');
      var timeCol = calendar.find('.fc-time-grid');
      
      if (timeCol.length > 0) {
          var timeColTop = timeCol.offset().top;
          var timeColHeight = timeCol.height();
          var timeColStart = moment('08:00:00', 'HH:mm:ss');
          var timeColEnd = moment('19:00:00', 'HH:mm:ss');
          
          if (now.isBetween(timeColStart, timeColEnd)) {
            var minutesDiff = now.diff(timeColStart, 'minutes');
            var percentage = (minutesDiff / timeColEnd.diff(timeColStart, 'minutes')) * 100;
            var indicatorTop = (timeColHeight * percentage / 100);
            
            // Create or update the "now" indicator element
            var nowIndicator = calendar.find('.now-indicator');
            if (nowIndicator.length === 0) {
                nowIndicator = $('<div class="now-indicator"></div>');
                timeCol.append(nowIndicator);
            }
            
            // Position the indicator
            nowIndicator.css('top', indicatorTop);
          } else {
              // Hide the indicator if current time is outside of business hours
              calendar.find('.now-indicator').remove();
          }
      
      }

    }
    setInterval(updateNowIndicator, 300000);
		
	});

  function get_calendar_data(date){
    $.ajax({
      url: "appointments/get_dashboard_calendar/",
      data: { 'date': date },
      dataType: 'json',
      success: function (data) {
        events_source.events = [];
        $.each(data.appointments, function (index, appointment) {
          var elementWithColor = document.querySelector('.event-' + appointment.appointment_service_color);

          var backgroundColor = getComputedStyle(elementWithColor).backgroundColor;
          var borderColor = getComputedStyle(elementWithColor).borderColor;

          events_source.events.push({
            id: appointment.id,
            title: appointment.service.name,
            start: appointment.appointment_date + 'T' + appointment.time_start,
            end: appointment.appointment_date + 'T' + appointment.time_end,
            backgroundColor: backgroundColor,
            textColor: borderColor,
            borderColor: "transparent",
            column: (appointment.room - 1)
          });

        });
        $('#calendar').fullCalendar('removeEvents');
        $('#calendar').fullCalendar('addEventSource', events_source);
        $('#calendar').fullCalendar('refetchEvents');
      }
    });
  }

  function load_appointment_detail(appointmentId){
    $('#appointment_detail_error').removeClass('show');
    $('#appointment_detail_error').addClass('d-none');
    $('#appointment_detail').removeClass('show');
    $('#appointment_detail').addClass('d-none');

    $('#appointment_detail_loading').removeClass('d-none');
    $('#appointment_detail_loading').addClass('show');
    $.ajax({
      url: 'appointments/get_appointment_data/',
      data: { 'id': appointmentId},
      type: 'GET',
      dataType: 'json',
      success: function (data) {
          $('#appointment_detail_error').removeClass('show');
          $('#appointment_detail_error').addClass('d-none');

          // Populate the modal content with the data received
          $('#client_name').text(data.appointment.client.name);
          $('#client_img').attr('src', data.appointment.client.photo);
          $('#client_email').text(data.appointment.client.email);
          $('#client_phone').text(data.appointment.client.phone);
          $('#appointment_service').text(data.appointment.service.name);
          // Format the date and time as needed
          $('#appointment_date').text(moment(data.appointment.appointment_date).format('DD/MM/YYYY'));
          $('#appointment_time_slot').text(moment(data.appointment.time_start, 'HH:mm:ss').format('HH:mm') + " - " + moment(data.appointment.time_end, 'HH:mm:ss').format('HH:mm'));
          $('#appointment_detail_link').attr('href', 'appointments/'+data.appointment.id);
          $('#appointment_delete_link').attr('href', 'appointments/'+data.appointment.id+"/delete/");

          var statusBadgeClass = "";
          switch (data.appointment.status) {
              case "PENDING":
                  statusBadgeClass = "badge bg-label-warning";
                  break;
              case "CONFIRMED":
                  statusBadgeClass = "badge bg-label-success";
                  break;
              case "CANCELLED":
                  statusBadgeClass = "badge bg-label-secondary";
                  break;
              case "COMPLETED":
                  statusBadgeClass = "badge bg-label-primary";
                  break;
              default:
                  statusBadgeClass = "badge bg-label-default";
          }
          
          $('#status').attr('class', statusBadgeClass);
          $('#status').text(data.appointment.status);

          if (data.appointment.notes != ""){
            $('#notes_session').removeClass('d-none');
            $('#notes_session').addClass('show');

            $('#appointment_notes').text(data.appointment.notes);
          } else {
            $('#notes_session').removeClass('show');
            $('#notes_session').addClass('d-none');
          }
          
          $('#therapist_name').text(data.appointment.therapist.name);
          $('#therapist_email').text(data.appointment.therapist.email);
          $('#therapist_img').attr('src', data.appointment.therapist.photo);
          $('#therapist_url').attr('href', '/accounts/therapist/' + data.appointment.therapist.id);
          
          $('#appointmentModal').modal('show');

          $('#appointment_detail').removeClass('d-none');
          $('#appointment_detail').addClass('show');
      },
      error: function () {
          $('#appointment_detail').removeClass('show');
          $('#appointment_detail').addClass('d-none');

          $('#appointment_detail_error').removeClass('d-none');
          $('#appointment_detail_error').addClass('show');
      },
      complete: function () {
        $('#appointment_detail_loading').removeClass('show');
        $('#appointment_detail_loading').addClass('d-none');
    }
  });
  }

</script>
{% endblock %}