{% extends 'bases/index.html' %}
{% load static %}
{% block 'title' %}Cliente - {{ therapist.name }}{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
    <p><strong>Nome:</strong> {{ client.name }}</p>
    <p><strong>Email:</strong> {{ client.email }}</p>
    <p><strong>Número de telefone:</strong> {{ client.phone_number }}</p>
    {% if perms.accounts.can_view_full_client_info %}
        <p><strong>CPF:</strong> {{ client.cpf }}</p>
        <p><strong>RG or RNE:</strong> {{ client.rg_or_rne }}</p>
        <p><strong>País:</strong> {{ client.country }}</p>
        <p><strong>Estado:</strong> {{ client.state }}</p>
        <p><strong>Cidade:</strong> {{ client.city }}</p>
        <p><strong>Bairro:</strong> {{ client.neighborhood }}</p>
        <p><strong>CEP ou Zip Code:</strong> {{ client.zip_code }}</p>
        <p><strong>Rua/Avenida:</strong> {{ client.street_address }}</p>
        <p><strong>Número:</strong> {{ client.number }}</p>
        <p><strong>Complemento de endereço:</strong> {{ client.complement_address }}</p>
    {% endif %}
    <a href="{% url 'client_list' %}" class="btn btn-primary">Voltar</a>
    {% if perms.accounts.modify_patient_information %}
    <a href="{% url 'client_update' client.pk %}" class="btn btn-secondary">Editar</a>
    <a href="{% url 'client_delete' client.pk %}" class="btn btn-danger">Deletar</a>
    {% endif %}
    </div>
</div>
{% endblock %}
