{% extends 'bases/index.html' %} 
{% load static %} 
{% block 'title' %}Clientes{% endblock %}
{% block content %}

<div class="card">
  <div class="card-body">
    <div class="table-responsive text-nowrap">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          {% for client in clients %}
          <tr class="table-default">
            <td>
              <a href="{% url 'client_detail' client.pk %}">
                <i class="fab fa-sketch fa-lg text-warning me-3"></i>
                <strong>{{ client.name }}</strong>
              </a>
            </td>
            <td>{{ client.email }}</td>
            <td>{{ client.phone_number }}</td>
            <td>
              <div class="dropdown">
                <button
                  type="button"
                  class="btn p-0 dropdown-toggle hide-arrow"
                  data-bs-toggle="dropdown"
                >
                  <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <div class="dropdown-menu">
                  <a
                    class="dropdown-item"
                    href="{% url 'client_update' client.pk %}"
                    ><i class="bx bx-edit-alt me-1"></i> Editar</a
                  >
                  {% if perms.accounts.can_remove_appointment %}
                  <a
                    class="dropdown-item"
                    {% comment %} data-bs-toggle="modal"
                    data-bs-target="#backDropModal" {% endcomment %}
                    href="{% url 'client_delete' client.pk %}"
                  >
                    <i class="bx bx-trash me-1"></i> Deletar
                  </a>
                  {% endif %}
                </div>
              </div>
            </td>
          </tr>
          {% empty %}
          <tr class="table-default">
            <p>Não há clientes cadastrados.</p>
          </tr>
          {% endfor %} 
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
