{% extends 'bases/index.html' %}
{% load static %} 
{% block head %} {% endblock%} 
{% block content %}
<div class="card">
  <div class="card-body">
    <div class="mb-3 col-12 mb-0">
      <div class="alert alert-warning">
        <h6 class="alert-heading fw-bold mb-1">Tem certeza que quer desativar a conta de {{ client.name }}?</h6>
      </div>
    </div>
    <form id="formAccountDeactivation" onsubmit="return false">
      {% csrf_token %}
      <div class="form-check mb-3">
        <input
          class="form-check-input"
          type="checkbox"
          name="accountActivation"
          id="accountActivation"
        />
        <label class="form-check-label" for="accountActivation"
          >Confirmar</label
        >
      </div>
      <button type="submit" class="btn btn-danger deactivate-account">Desativar conta de Cliente</button>
    </form>
  </div>
</div>
{% endblock %}