{% extends 'bases/index.html' %} 
{% load static %} 
{% block title %}System Users{% endblock %}
{% block content %}
<div class="card">
  <div class="card-body">
    <div class="table-responsive text-nowrap">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Colaborador</th>
            <th>Email</th>
            <th>Tipo de Perfil</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          {% for systemuser in systemusers %}
          <tr class="table-default">
            <td>
              <div class="d-flex">
                <div class="avatar me-3">
                  <img src="{{ systemuser.photo.url }}" alt="Avatar" class="rounded-circle">
                </div>
                <div class="d-flex flex-column">
                  <div>
                    <a href="{% url 'systemuser_detail' systemuser.pk %}">
                      <strong>{{ systemuser.name }}</strong>
                    </a>
                  </div>
                  <div>
                    <small class="text-muted">{{ systemuser.username }}</small>
                  </div>
                </div>
              </div>              
            </td>
            <td>{{ systemuser.email }}</td>
            <td>{{ systemuser.get_user_type_display }}</td>
            <td>
              <div class="d-inline-block text-nowrap">
                <button class="btn btn-sm btn-icon">
                  <a href="{% url 'systemuser_update' systemuser.pk %}" data-bs-toggle="tooltip" class="text-body" data-bs-placement="top" aria-label="Editar" data-bs-original-title="Editar">
                    <i class="bx bx-edit"></i>
                  </a>
                </button>
              </div>
            </td>
          </tr>
          {% empty %}
          <tr class="table-default">
            <p>No system users available.</p>
          </tr>
          {% endfor %} 
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
