{% extends 'bases/index.html' %}
{% load static %} 
{% block head %} {% endblock %} 
{% block 'title' %}Detalhes Agendamento{% endblock %}
{% block content %}
<div class="card">
  <div class="card-body">
  
  <p><strong>Tratamento:</strong> <div class="d-flex justify-content-between align-items-center mb-3">
    <a href="{% url 'speciality_list_filtered' appointment.service.treatment_type.pk %}">
      <span class="badge-custom badge-luz-{{appointment.service.treatment_type.color}}">{{appointment.service.name}}</span>
    </a>
  </div></p>
  <p><strong>Dia:</strong> {{ appointment.appointment_date|date:"d/m/y" }}</p>
  <p><strong>Horário:</strong> {{ appointment.time_start|time:"H:i" }} - {{ appointment.time_end|time:"H:i" }}</p>
  <p><strong>Status:</strong> {{ appointment.get_status_display }}</p>
  <p><strong>Cliente:</strong> {{ appointment.client }}</p>
  <p><strong>Terapeuta:</strong> {{ appointment.therapist }}</p>
  <p><strong>Notas:</strong> {{ appointment.notes }}</p>

  <a href="{% url 'appointment-update' appointment.pk %}" class="btn btn-primary">Editar</a>
  <a href="{% url 'appointment-delete' appointment.pk %}" class="btn btn-danger">Deletar</a>
  <a href="{% url 'appointment-list' %}" class="btn btn-secondary">Voltar para a lista</a>
  </div>
</div>
{% endblock %}
