{% extends 'bases/index.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/fonts/boxicons.css' %}">

{% endblock %}

{% block content %}
  <h2>Appointment List</h2>
  <ul>
    {% for appointment in appointments %}
      <li>
        <a href="{% url 'appointment-detail' appointment.pk %}">{{ appointment }}</a>
      </li>
    {% empty %}
      <p>No appointments available.</p>
    {% endfor %}
  </ul>
  <a href="{% url 'appointment-create' %}" class="btn btn-primary">Create Appointment</a>
{% endblock %}
