{% extends 'bases/index.html' %} 
{% load static %} 
{% load custom_filters %}
{% block 'title'%}Dashboard{% endblock%} 
{% block head %} 
<link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.css' rel='stylesheet' />
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.js'></script>

<link rel="stylesheet" href="{% static 'vendor/css/flatpickr.css' %}"/>


<script src="https://kit.fontawesome.com/da186c5afa.js" crossorigin="anonymous"></script>
{% endblock %} 
{% block content %}

<div class="card">
  <div class="card-body">
    {% comment %} {% include "partials/appointment_table.html" %} {% endcomment %}
    {% comment %} <div class="d-flex justify-content-between bd-highlight mb-3">
      <div>
        <div class="btn-group" role="group" aria-label="Basic toggle button group">
          <label class="btn btn-outline-primary" id="prev-date"><span class="fa-solid fa-chevron-left"></span></label>
          <label class="btn btn-outline-primary" id="next-date"><span class="fa-solid fa-chevron-right"></span></label>
        </div>
        <label type="button" class="btn btn-outline-primary mx-3" id="today-date">Hoje</label>
      </div>
  
      <div class="calendar-center"><h2 id="date-title"></h2></div>
      <div></div>
    </div> {% endcomment %}

    {% comment %} <div class="mb-5">
      <div class="position-relative">
        <div class="position-absolute top-0 start-0">
          <div class="btn-group" role="group" aria-label="Basic toggle button group">
            <label class="btn btn-outline-primary" id="prev-date"><span class="fa-solid fa-chevron-left"></span></label>
            <label class="btn btn-outline-primary" id="next-date"><span class="fa-solid fa-chevron-right"></span></label>
          </div>
          <label type="button" class="btn btn-outline-primary mx-3" id="today-date">Hoje</label>
        </div>
        <div class="position-absolute top-50 start-50 translate-middle-x">
          <div class="calendar-center"><h2 id="date-title"></h2></div>
        </div>
      </div>
    </div> {% endcomment %}

    <div class="mb-1">
      <div class="row">
          <div class="col-12 col-md-auto">
              <div class="btn-group" role="group" aria-label="Basic toggle button group">
                  <label class="btn btn-outline-primary" id="prev-date"><span class="fa-solid fa-chevron-left"></span></label>
                  <label class="btn btn-outline-primary" id="next-date"><span class="fa-solid fa-chevron-right"></span></label>
              </div>
              <label type="button" class="btn btn-outline-primary mx-3 mt-2 mt-md-0" id="today-date">Hoje</label>
          </div>
          <div class="col-12 col-md-auto mx-md-auto text-md-center mt-2 mt-md-0">
              <span class="d-flex align-items-center" style="cursor: pointer;">
                <i class="bx bx-calendar me-0 me-sm-1 btn btn-outline-primary borderless-button mb-sm-3" id="flatpickr-trigger" ></i>
                <span class="h2 d-none d-sm-inline-block" id="date-title"></span>
              </span>
          </div>
          <div class="col-12 col-md-auto justify-content-end mt-2 mt-md-0">
              <span class="d-flex align-items-center" style="cursor: pointer;">
                <a href="{% url 'appointment-create' %}" class="btn btn-outline-primary borderless-button mb-sm-3">
                  <i class="bx bx-plus me-0 me-sm-1"></i>
                  <span>Atendimento</span>
                </a>
              </span>
          </div>
      </div>
    </div>
  
    <div id="calendar"></div>
    <div class="event-azul"></div>
    <div class="event-indigo"></div>
    <div class="event-roxo"></div>
    <div class="event-rosa"></div>
    <div class="event-vermelho"></div>
    <div class="event-laranja"></div>
    <div class="event-amarelo"></div>
    <div class="event-verde"></div>
    <div class="event-teal"></div>
    <div class="event-ciano"></div>
    <div class="bg-label-success"></div>
    <div class="bg-label-primary"></div>
    <div class="bg-label-secondary"></div>
    <div class="bg-label-warning"></div>
  </div>
</div>
<div class="bs-toast toast toast-placement-ex m-3 fade bg-danger top-0 end-0 hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
  <div class="toast-header">
    <i class="bx bx-bell me-2"></i>
    <div class="me-auto fw-semibold" id="toast_title"></div>
    <!-- <small class="hide">11 mins ago</small> -->
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body" id="toast_message"></div>
</div>
{% include "partials/appointment_detail_panel.html" %}
{% endblock %}
{% block jquery_script %}
    <script src='https://code.jquery.com/jquery-2.1.3.js'></script>
{% endblock %}
{% block js %}
<style>
  #calendar .fc-time-grid-container {
    height: auto !important; /* Override the height */
    overflow: visible !important; /* Override the overflow property */
  }
  .fc-time-grid .fc-slats td {
    height: 2.5em; /* Adjust the height as needed */
  }
  .fce-cols-day-header {
    color: rgba(0, 0, 0, 0); 
  }
  .fc-toolbar {
    text-align: center;
    margin-bottom: -2em;
  }

  .borderless-button {
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: transparent;
    cursor: pointer;
  }
  .popover-header {
    border-bottom: 1px solid #d9dee3 !important;
  }
</style>
<script src="{% static 'vendor/libs/popper/popper.js' %}"></script>
<script src="{% static 'js/calendar/fullcalendar/2.3.1/fullcalendar.js' %}"></script>
<script src="{% static 'js/calendar/pt-br.js' %}"></script>
<script src="{% static 'js/calendar/fullcalendar-columns.js' %}"></script>
<script src="{% static 'js/ui-toasts.js' %}"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="{% static 'vendor/js/flatpickr.js' %}"></script>

<script>

  var events_source = {
    id: 0,
    events: []
  };

  var activePopover; 
  var Y3NyZnRva2Vu;

	$(document).ready(function() {
		
		$('#calendar').fullCalendar({
      header: {
          left: '',
          center: '',
          right: ''
      },
      views: {
          multiColAgendaDay: {
              type: 'multiColAgenda',
              duration: { days: 1 },
              numColumns: {{rooms.count}},
              columnHeaders: [
              {% for room in rooms  %}
              '{{ room.name }}'
              {% if not forloop.last %}, {% endif %}
              {% endfor %}
              ],
              axisFormat: 'HH:mm',
              minTime: '{% with first_time_slot=time_slots|first_item %}{{ first_time_slot.start_time }}{% endwith %}',
              maxTime: '{% with last_time_slot=time_slots|last_item %}{{ last_time_slot.end_time }}{% endwith %}',
              slotLabelFormat: 'HH:mm'
          }
      },
      locale: 'pt-br',
      allDaySlot: false,
      defaultView: 'multiColAgendaDay',
      defaultDate: moment(),
      editable: true,
      eventDurationEditable: false,
      events: [],
      selectable: true,
      selectHelper: true,
      select: function(startDate, endDate) {
        alert('selected ' + startDate.format() + ' to ' + endDate.format());
      },
      viewRender: function( view, element ){
        var date = moment(view.start);
        var dataFormated = date.format('YYYY-MM-DD');
        if (dataFormated != moment().format('YYYY-MM-DD')){
          $('#calendar').find('.now-indicator').remove();
        } else {
          updateNowIndicator();
        }
        get_calendar_data(dataFormated);
        var date_title = moment(view.start).format('DD [de] MMMM [de] YYYY');
        $('#date-title').text(date_title);
        
      },
      eventClick: function(calEvent, jsEvent, view) {

        load_appointment_detail(calEvent.id);
    
      },
      eventDrop: function(event, delta, revertFunc, jsEvent, ui, view) {

        if (moment(event.end).format('HH:mm:ss') > '21:00:00') {
          revertFunc();
          showToast('Não é possível marcar horário para após o fechamento.','Por favor, escolha outro horário.');
          return
        }

        var isOverlapping = false;
        var droppedEventStart = event.start;
        var droppedEventEnd = event.end;
    
        for (var i = 0; i < events_source.events.length; i++) {
            var sourceEvent = events_source.events[i];
    
            if (event.id !== sourceEvent.id) { 
              var sourceEventStart = moment(sourceEvent.start);
              var sourceEventEnd = moment(sourceEvent.end);

              if (
                  droppedEventStart.isBefore(sourceEventEnd) &&
                  droppedEventEnd.isAfter(sourceEventStart)    
                ) {
                    if (event.column == sourceEvent.column){
                      console.log("event: ", event);
                      console.log("event: ", sourceEvent);
                      isOverlapping = true;
                      break;
                    }
                }  
            }
        }
        if (isOverlapping) {
            revertFunc();
            showToast('O horário já está ocupado por outro agendamento.\nPor favor, escolha outro.');
        } else {
          var data = {
            id: event.id,
            start: event.start.format('HH:mm:ss'),
            end: event.end.format('HH:mm:ss'),
            roomId: parseInt(event.column) + 1 
          };

          $.ajax({
            type: 'POST',
            url: 'appointments/update_appointment_data/',
            data: JSON.stringify(data),
            headers: { "X-CSRFToken": Y3NyZnRva2Vu },
            success: function(response, status, xhr) {
                Y3NyZnRva2Vu = xhr.getResponseHeader('X-CSRFToken');

                if (response.appointment) {
                    for (var i = 0; i < events_source.events.length; i++) {
                        if (events_source.events[i].id === event.id) {
                            events_source.events[i].start = response.appointment.appointment_date + 'T' + response.appointment.time_start;
                            events_source.events[i].end = response.appointment.appointment_date + 'T' + response.appointment.time_end;
                            events_source.events[i].column = response.appointment.room - 1;
                            break;
                        }
                    }
                }
            },
            error: function(xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                revertFunc();
                console.log(err)
                console.log(error)
            }
          });
        }
      },
      eventRender: function (event, element) {
        var customSelectors = {
          'data-bs-toggle': 'offcanvas',
          'data-bs-target': '#offcanvasBackdrop',
          'aria-controls': 'offcanvasBackdrop',
        };

        for (var selector in customSelectors) {
            element.addClass(selector);
            element.attr(selector, customSelectors[selector]);
        }

        element.find('.fc-title').html(event.appointment.service.name);
        element.find('.fc-time').html(event.appointment.client.name +
          "<span style='display:block;white-space:pre;'>" +
          moment(event.appointment.time_start, 'HH:mm:ss').format('HH:mm') + " - " +
          moment(event.appointment.time_end, 'HH:mm:ss').format('HH:mm') +
          "</span>");
    
      },
      eventMouseover: function (event, jsEvent) { 

        hideActivePopover();

        activePopover = $(jsEvent.currentTarget).popover({
            title: event.title,
            content: event.description, 
            placement: 'right',
            trigger: 'manual',
            container: 'body',
            html: true
        }).popover('show');
      },

      eventMouseout: function (event, jsEvent) {
        hideActivePopover();
      }

    });

    function hideActivePopover() {
      if (activePopover) {
          activePopover.popover('hide');
          activePopover = null;
      }
    }

    function updateNowIndicator() {
      var now = moment();
      var calendar = $('#calendar');
      var timeCol = calendar.find('.fc-time-grid');
      
      if (timeCol.length > 0) {
          var timeColTop = timeCol.offset().top;
          var timeColHeight = timeCol.height();
          var timeColStart = moment('08:00:00', 'HH:mm:ss');
          var timeColEnd = moment('19:00:00', 'HH:mm:ss');
          
          if (now.isBetween(timeColStart, timeColEnd)) {
            var minutesDiff = now.diff(timeColStart, 'minutes');
            var percentage = (minutesDiff / timeColEnd.diff(timeColStart, 'minutes')) * 100;
            var indicatorTop = (timeColHeight * percentage / 100);
            
            var nowIndicator = calendar.find('.now-indicator');
            if (nowIndicator.length === 0) {
                nowIndicator = $('<div class="now-indicator"></div>');
                timeCol.append(nowIndicator);
            }
            
            nowIndicator.css('top', indicatorTop);
          } else {
              calendar.find('.now-indicator').remove();
          }
      
      }

    }
    setInterval(updateNowIndicator, 300000);
		
	});

  function get_calendar_data(date){
    $.ajax({
      url: "appointments/get_dashboard_calendar/",
      data: { 'date': date },
      dataType: 'json',
      success: function (data, status, xhr) {
        Y3NyZnRva2Vu = xhr.getResponseHeader('X-CSRFToken');
        events_source.events = [];
        $.each(data.appointments, function (index, appointment) {
          var elementWithColor = document.querySelector('.event-' + appointment.appointment_service_color);

          var backgroundColor = getComputedStyle(elementWithColor).backgroundColor;
          borderColor = "transparent";
          var borderColor = getComputedStyle(elementWithColor).borderColor;

          var statusBadgeClass = "";
          switch (appointment.status) {
            case "PENDING":
                var element = document.querySelector(".bg-label-warning");
                backgroundColor = getComputedStyle(element).color;
                borderColor = getComputedStyle(element).backgroundColor;
                break;
            case "CONFIRMED":
                var element = document.querySelector(".bg-label-success");
                backgroundColor = getComputedStyle(element).color;
                borderColor = getComputedStyle(element).backgroundColor;
                break;
            case "CANCELLED":
                var element = document.querySelector(".bg-label-secondary");
                backgroundColor = getComputedStyle(element).color;
                borderColor = getComputedStyle(element).backgroundColor;
                break;
            case "COMPLETED":
                var element = document.querySelector(".bg-label-primary");
                backgroundColor = getComputedStyle(element).color;
                borderColor = getComputedStyle(element).backgroundColor;
                break;
            default:
                var element = document.querySelector(".bg-label-default");
                backgroundColor = getComputedStyle(element).color;
                borderColor = getComputedStyle(element).backgroundColor;
          }

          var descriptionHtml =
                    '<div class="justify-content-start">' +
                    '     <div class="d-flex flex-shrink-0 mx-auto py-sm-1 align-items-center">' +
                    '     <i class="fa-regular fa-clock me-sm-3"></i>' +
                    '     <span>' + moment(appointment.time_start, 'HH:mm:ss').format('HH:mm') + " - " + moment(appointment.time_end, 'HH:mm:ss').format('HH:mm') + '</span>' +
                    '     </div>' +
                    '     <div class="d-flex flex-shrink-0 mx-auto border-bottom py-sm-1 align-items-center">' +
                    '       <i class="fa-solid fa-user-doctor me-sm-3"></i>' +
                    '       <img src="' + appointment.client.photo + '" alt="Avatar" class="rounded-circle avatar avatar-xs" />' +
                    '       <div class="d-flex flex-column mx-sm-1">' +
                    '         <div class="customer-info flex-grow-1 align-items-center">' +
                    '           <span class="mb-1">' + appointment.client.name + '</span>' +
                    '         </div>' +
                    '       </div>' +
                    '     </div>' +
                    '     <div class="d-flex flex-shrink-0 mx-auto my-sm-1 align-items-center">' +
                    '       <i class="fa-solid fa-user me-sm-3"></i>' +
                    '       <img src="' + appointment.therapist.photo + '" alt="Avatar" class="rounded-circle avatar avatar-xs" />' +
                    '       <div class="d-flex flex-column mx-sm-1">' +
                    '         <div class="customer-info flex-grow-1 align-items-center">' +
                    '           <span class="mb-1">' + appointment.therapist.name + '</span>' +
                    '         </div>' +
                    '       </div>' +
                    '     </div>' +
                    '</div>';

          events_source.events.push({
            id: appointment.id,
            appointment: appointment,
            title: appointment.service.name,
            start: appointment.appointment_date + 'T' + appointment.time_start,
            end: appointment.appointment_date + 'T' + appointment.time_end,
            backgroundColor: backgroundColor,
            textColor: '#333',
            borderColor: borderColor,
            column: (appointment.room.id - 1),
            description: descriptionHtml
          });

        });
        $('#calendar').fullCalendar('removeEvents');
        $('#calendar').fullCalendar('addEventSource', events_source);
        $('#calendar').fullCalendar('refetchEvents');
      }
    });
  }

  function load_appointment_detail(appointmentId){
    
    $('#appointment_detail_error').removeClass('show');
    $('#appointment_detail_error').addClass('d-none');
    $('#appointment_detail').removeClass('show');
    $('#appointment_detail').addClass('d-none');

    $('#appointment_detail_loading').removeClass('d-none');
    $('#appointment_detail_loading').addClass('show');
    $.ajax({
      url: 'appointments/get_appointment_data/',
      data: { 'id': appointmentId},
      type: 'GET',
      dataType: 'json',
      success: function (data, status, xhr) {
        Y3NyZnRva2Vu = xhr.getResponseHeader('X-CSRFToken');
        $('#appointment_detail_error').removeClass('show');
        $('#appointment_detail_error').addClass('d-none');

        $('#appointment_detail_id').val(data.appointment.id);
        $('#client_name').text(data.appointment.client.name);
        $('#client_img').attr('src', data.appointment.client.photo);
        $('#client_email').text(data.appointment.client.email);
        $('#client_phone').text(data.appointment.client.phone_number);
        $('#appointment_service').text(data.appointment.service.name);
        $('#select_speciality').val(data.appointment.service.id).change();

        $('#appointment_date').text(moment(data.appointment.appointment_date).format('DD/MM/YYYY'));
        $("#flatpickr-date").flatpickr({
          dateFormat: "d/m/Y",
          defaultDate: moment(data.appointment.appointment_date).format('DD/MM/YYYY')
        });

        var startTime = moment(data.appointment.time_start, 'HH:mm:ss');
        $('#appointment_time_slot').text(startTime.format('HH:mm'));

        var optionToSelect =  $('#select_time_slot').find('option:contains("' + startTime.format('HH:mm') + '")');
        optionToSelect.prop('selected', true);
        $('#select_time_slot').change();
        
        var endTime = moment(data.appointment.time_end, 'HH:mm:ss');
        var duration = moment.duration(endTime.diff(startTime));
        $('#appointment_time_duration').text(moment.utc(duration.as('milliseconds')).format('HH:mm'));
        $('#select_duration').val(duration.asMinutes()).change();
        

        $('#appointment_room').text(data.appointment.room.name);
        $('#select_room').val(data.appointment.room.id).change();
        $('#appointment_detail_link').attr('href', 'appointments/'+data.appointment.id);
        $('#appointment_delete_link').attr('href', 'appointments/'+data.appointment.id+"/delete/");

        var statusBadgeClass = "";
        switch (data.appointment.status) {
            case "PENDING":
                statusBadgeClass = "badge bg-label-warning";
                break;
            case "CONFIRMED":
                statusBadgeClass = "badge bg-label-success";
                break;
            case "CANCELLED":
                statusBadgeClass = "badge bg-label-secondary";
                break;
            case "COMPLETED":
                statusBadgeClass = "badge bg-label-primary";
                break;
            default:
                statusBadgeClass = "badge bg-label-default";
        }
        
        $('#status').attr('class', statusBadgeClass);
        $('#status').text(data.appointment.status);

        if (data.appointment.notes != ""){
          $('#notes_session').removeClass('d-none');
          $('#notes_session').addClass('show');

          $('#appointment_notes').text(data.appointment.notes);
        } else {
          $('#notes_session').removeClass('show');
          $('#notes_session').addClass('d-none');
        }
        
        $('#therapist_name').text(data.appointment.therapist.name);
        $('#therapist_phone').text(data.appointment.therapist.phone_number);
        $('#therapist_img').attr('src', data.appointment.therapist.photo);
        $('#therapist_url').attr('href', '/accounts/therapist/' + data.appointment.therapist.id);

        $('.display-info').find('.display-field').hide();
        $('.display-info').find('.editable').show();

        $('#save_button').hide();
        
        $('#appointmentModal').modal('show');

        $('#appointment_detail').removeClass('d-none');
        $('#appointment_detail').addClass('show');
      },
      error: function () {
        $('#appointment_detail').removeClass('show');
        $('#appointment_detail').addClass('d-none');

        $('#appointment_detail_error').removeClass('d-none');
        $('#appointment_detail_error').addClass('show');
      },
      complete: function () {
        $('#appointment_detail_loading').removeClass('show');
        $('#appointment_detail_loading').addClass('d-none');
      }
    });
  }

  $('#save_button').on('click', function() {
    // TODO alguma indicação de carregando
    var appointmentId = $('#appointment_detail_id').val();
    var serviceId = $('#select_speciality').val();
    var date = $('#flatpickr-date').val();

    var time_start_selected =  $('#select_time_slot option:selected').text();
    var duration = $('#select_duration').val();

    var start_time = moment(time_start_selected, 'HH:mm');
    var end_time = start_time.clone().add(duration, 'minutes');

    var roomId = $('#select_room').val();

    var data = {
        id: appointmentId,
        serviceId: serviceId,
        date: date,
        start: start_time.format('HH:mm:ss'),
        end: end_time.format('HH:mm:ss'),
        roomId: roomId
    };

    $.ajax({
      type: 'POST',
      url: 'appointments/update_appointment_data/',
      data: JSON.stringify(data),
      headers: { "X-CSRFToken": Y3NyZnRva2Vu },
      success: function(response, status, xhr) {
        Y3NyZnRva2Vu = xhr.getResponseHeader('X-CSRFToken');

        if (response.appointment) {
          for (var i = 0; i < events_source.events.length; i++) {
            var eventToUpdate = events_source.events[i];
            if (eventToUpdate.id === response.appointment.id) {
                eventToUpdate.start = response.appointment.appointment_date + 'T' + response.appointment.time_start;
                eventToUpdate.end = response.appointment.appointment_date + 'T' + response.appointment.time_end;
                eventToUpdate.column = response.appointment.room.id - 1;
                eventToUpdate.title = response.appointment.service.name;
                eventToUpdate.appointment = response.appointment;
                break;
            }
          }
        }

        $('#calendar').fullCalendar('removeEventSource', events_source);
        $('#calendar').fullCalendar('addEventSource', events_source);
        $('#calendar').fullCalendar('rerenderEvents');
        // TODO: Voltar os campos para os estados anteriores de estilo, como leitura
      },
      error: function(error) {
          console.error('Error updating appointment', error);
          // TODO: Voltar os campos para os dados anteriores
      }
    });
  });

  $('#prev-date').on('click', function() {
    $('#calendar').fullCalendar('prev');
  });

  $('#next-date').on('click', function() {
    $('#calendar').fullCalendar('next');
  });

  $('#today-date').on('click', function() {
    $('#calendar').fullCalendar('today');
  });

  $('#flatpickr-trigger').flatpickr({
    dateFormat: "d/m/Y",
    defaultDate: "today",
    allowInput: true,
    onClose: function (selectedDates, dateStr, instance) {
        var selectedDate = instance.selectedDates[0];
        $('#calendar').fullCalendar('gotoDate', selectedDate);
    }
  });
  
  $("#flatpickr-date").flatpickr({
    dateFormat: "d/m/Y",
    defaultDate: "today"
  });

  $(".display-info").click(function () {
    if ($(this).find(".display-field").is(":hidden")) {
      $(this).find(".editable, .display-field").toggle();
    }
    $('#save_button').show();
  });

</script>
{% endblock %}